<h1>Welcome, <%= current_user.email %></h1>

<h2>Projects</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Assigned Users</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.users.map(&:email).join(", ") %></td>
        <td>
          <%= link_to "View", project_path(project) %>
          <% if can? :update, project %>
            <%= link_to "Edit", edit_project_path(project) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Pending Bugs</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Status</th>
      <th>Project</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pending_bugs.each do |bug| %>
      <tr>
        <td><%= bug.title %></td>
        <td><%= bug.bug_type %></td>
        <td><%= bug.status %></td>
        <td><%= bug.project.title %></td>
        <td>
          <%= link_to "View", project_bug_path(bug.project, bug) %>
          <% if current_user.qa? && bug.creator == current_user %>
            <%= link_to "Edit", edit_project_bug_path(bug.project, bug) %>
            <%= link_to "Delete", project_bug_path(bug.project, bug), method: :delete, data: { confirm: "Are you sure?" } %>
          <% elsif current_user.developer? %>
            <%= form_with(model: bug, url: project_bug_path(bug.project, bug), method: :patch, local: true) do |f| %>
              <%= f.select :status, Bug.statuses.keys.map { |s| [s.titleize, s] }, {}, {} %>
              <%= f.submit "Update Status" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>