<h2 class="forgot-title">Forgot Your Password?</h2>

<div class="forgot-container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "forgot-form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Send Reset Instructions", class: "btn-submit" %>
    </div>
  <% end %>

  <div class="form-links">
    <%= render "devise/shared/links" %>
  </div>
</div>