<h1>Projects</h1>

<% if current_user.manager? %>
  <%= link_to "Add New Project", new_project_path, class: "btn btn-add" %>
<% end %>

<table>
<tr>
<th>Title</th>
<th>Description</th>
<th>Actions</th>
</tr>

<% @projects.each do |project| %>
<tr>
<td><%= project.title %></td>
<td><%= project.description %></td>

<td>

<%= link_to "View", project_path(project), class: "btn btn-view" %>

<% if current_user.manager? %>
<%= link_to "Edit", edit_project_path(project), class: "btn btn-edit" %>

<%= link_to "Delete", project_path(project),
method: :delete,
data: { turbo_confirm: "Are you sure?" },
class: "btn btn-delete" %>

<%= link_to "Assign Users", assign_users_project_path(project),
class: "btn btn-assign" %>

<% end %>

</td>

</tr>
<% end %>

</table>