<h1>All Bugs Dashboard</h1>

<%= form_with model: @q, url: all_bugs_path, method: :get, local: true do |f| %>
  <div style="display:flex; gap:15px; flex-wrap:wrap; margin:20px 0;">
    <!-- Title Search -->
    <div>
      <%= f.label :title_cont, "Title" %><br>
      <%= f.search_field :title_cont, placeholder: "Search by title...", value: params.dig(:q, :title_cont) %>
    </div>

    <!-- Bug Type -->
    <div>
      <%= f.label :bug_type_eq, "Type" %><br>
      <%= f.select :bug_type_eq,
          [["All", ""]] + Bug.bug_types.keys.map { |b| [b.humanize, b] },
          { selected: params.dig(:q, :bug_type_eq) },
          class: "form-control"
      %>
    </div>

    <div style="align-self:flex-end;">
      <%= f.submit "Filter", class: "btn btn-primary" %>
      <%= link_to "Reset", all_bugs_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

<table border="1" cellpadding="10" cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Status</th>
      <th>Project</th>
      <th>Creator</th>
      <th>Assigned Developer</th>
    </tr>
  </thead>
  <tbody>
    <% if @bugs.present? %>
      <% @bugs.each do |bug| %>
        <tr>
          <td><%= bug.title %></td>
          <td><%= bug.bug_type.humanize %></td>
          <td><%= bug.status.humanize %></td>
          <td><%= bug.project.title %></td>
          <td><%= bug.creator.email %></td>
          <td><%= bug.assigned_user&.email || "-" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6" style="text-align:center;">No bugs found.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @bugs %>