<h1>Bugs for Project: <%= @project.title %></h1>

<% if current_user.qa? %>
  <%= link_to "Report a New Bug", new_project_bug_path(@project), class: "btn btn-add" %>
<% end %>

<%= form_with model: @q, url: project_bugs_path(@project), method: :get, local: true do |f| %>
  <div style="display:flex; gap:15px; flex-wrap:wrap; margin:20px 0;">
    <!-- Title Filter -->
    <div>
      <%= f.label :title_cont, "Title" %><br>
      <%= f.search_field :title_cont, placeholder: "Search by title..." %>
    </div>

    <!-- Bug Type Filter -->
    <div>
      <%= f.label :bug_type_eq, "Type" %><br>
      <%= f.select :bug_type_eq,
        [["All", ""]] + Bug.bug_types.keys.map { |b| [b.capitalize, b] },
        { selected: params.dig(:q, :bug_type_eq) },
        class: "form-control"
      %>
    </div>

    <div style="align-self:flex-end;">
      <%= f.submit "Filter", class: "btn btn-primary" %>
      <%= link_to "Reset", project_bugs_path(@project), class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>

<h2>Bug List</h2>

<% if @bugs.any? %>
  <table border="1" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Type</th>
        <th>Status</th>
        <th>Screenshot</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @bugs.each do |bug| %>
        <tr>
          <td><%= bug.title %></td>
          <td><%= truncate(bug.description, length: 50) %></td>
          <td><%= bug.bug_type.capitalize %></td>
          <td><%= bug.status.humanize %></td>
          <td>
            <% if bug.screenshot.present? %>
              <%= image_tag bug.screenshot.url, width: 80 %>
            <% else %>No Image<% end %>
          </td>
          <td>
            <%= link_to "View", project_bug_path(@project, bug) %>
            <% if current_user.qa? && bug.creator == current_user %>
              | <%= link_to "Edit", edit_project_bug_path(@project, bug) %>
              | <%= link_to "Delete", project_bug_path(@project, bug), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Pagination -->
  <div style="margin-top:20px;">
    <%= will_paginate @bugs %>
  </div>
<% else %>
  <p>No bugs found for this project.</p>
<% end %>